.aboutMain {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    width: 70%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.433);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.childleft {
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.childright {
    width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.childright .content {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.childright .content * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialAbout {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.socialAbout a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: rgb(54, 0, 112);
}

.socialAbout a svg {
    margin-right: 10px;
}

.childleft img {
    border-radius: 20px;
}

.content p{
    color: rgb(91, 91, 91);
}
.content h3 {
    color: rgb(39, 39, 39);
}

@media screen and (max-width: 734px) {
    .child {
        flex-direction: column;
        height: 90%;
    }

    .aboutMain {
        height: 100vh;
    }

    .childleft img{
        width: 200px;
    }
}