.allFolderGrid{
    margin-top: 20px;
}
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card{
    margin: 20px;
    background-color: rgba(21, 29, 29, 0.327);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px white;
}

.card a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.card a svg{
    font-size: 80px;
    color: rgb(39, 36, 25);
}

.card a h4 {
    margin-left: 20px;
    color: black;
}
